.wrapper {
  display: flex;
}
.pageTitle {
  padding-left: $contentPadding;
  margin-bottom: 0px;
  margin-top: 20px;
}
.pageSubTitle {
  display: block;
  padding-left: $contentPadding;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  margin-bottom: 20px;
}
.postList {
  width: 100%;
}
.pageination {
  margin-bottom: 20px;
  padding-left: $contentPadding;
  a {
    margin-right: 20px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .pageTitle {
    padding: 0 10px;
  }
  .postList, .sidebar {
    width: 100%;
    padding: 0px;
  }
  .pageination, .pageSubTitle, .pageTitle {
    padding-left: 20px;
  }
  .pageSubTitle {
    font-size: 13px;
  }
}
