.post {
  display: block;
  position: relative;
  padding-left: $contentPadding;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e2e2e2;
  overflow-x: hidden;
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
  }
  a:hover h3 {
    color: $blue;
  }
}

@media (max-width: 960px) {
  .post {
    padding-left: 10px;
  }
}
