.post {
  display: block;
  position: relative;
  padding-left: $contentPadding;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e2e2e2;
  overflow-x: hidden;
  a {
    border-bottom: none;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    margin-bottom: -5px;
  }
  .meta {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
  }
}
