.wrapper {
  display: flex;
}
.pageTitle {
  padding-left: $contentPadding;
}
.postList {
  width: 100%;
}
.pageination {
  margin-bottom: 20px;
  a {
    margin-right: 20px;
  }
}

@media (max-width: 960px) {
  .wrapper {
    flex-direction: column;
    padding: 10px;
  }
  .pageTitle {
    padding: 0 10px;
  }
  .postList, .sidebar {
    width: 100%;
    padding: 0px;
  }
}
