/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/**
 * Typography
 */
@import url('//fast.fonts.net/cssapi/8910c467-c1de-4614-8be3-d7c21abde84e.css');

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

html {
  font-size: 62.5%; /* html is set to 62.5% so that all the REM measurements throughout  are based on 10px sizing. So basically 1.5rem = 15px :) */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: #fff;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

body {
  font-size: $fontSize;
  line-height: 1.9;
  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: 'Avenir Next W00', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 2rem;
}
h1 { font-size: 3.0rem; line-height: 1.2; letter-spacing: -.05rem;}
h2 { font-size: 2.5rem; line-height: 1.25; letter-spacing: -.03rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.025rem; }
h4 { font-size: 1.8rem; line-height: 1.35; letter-spacing: -.02rem; }
h5 { font-size: 1.6rem; line-height: 1.5;  letter-spacing: -.02rem; }
h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0; }
p {  letter-spacing: 0; }

img[align="left"] {
  margin-right: 20px;
}
img[align="right"] {
  margin-left: 20px;
}

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 55px;
  margin: 0 0 20px;
  position: relative;
  font-size: 1.8rem;
  color: #666;
  box-shadow: 2px 2px 15px #ccc;
  border-left-style: solid;
  border-left-width: 15px;
  border-right-style: solid;
  border-right-width: 2px;
  &:before {
   content: "\201C";
   font-family: Georgia, serif;
   font-size: 8.0rem;
   font-weight: bold;
   color: #999;
   position: absolute;
   left: 10px;
   top: -2.6rem;
 }
}
code {
  font-size: 95%;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: baseline;
  color: #e91e63;
}

$tableGray1: #828282;
table {
  max-width: 960px;
  margin: 10px 0;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: $tableGray1;
  color: #FFF;
}

tr {
  background: #e3e3e3;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #f3f3f3;
}

th, td {
  text-align: left;
  padding: 10px;
  font-weight: 300;
}
td ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  li {
    word-wrap: break-word;
  }
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}

.right {
  float: right;
  margin-left: 35px;
}
.left {
  float: left;
  margin-right: 35px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}
/*
.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: -1.8rem;
  margin-right: .4rem;
  width: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  opacity: .1;
  transition: opacity .2s;
  border-bottom: none !important;
}
*/
.phenomic-HeadingAnchor, .auth0-lock-badge-bottom, .auth0-lock.auth0-lock .auth0-lock-name {
  display: none;
}
.auth0-lock.auth0-lock .auth0-lock-header-logo {
  width: 189px !important;
  margin: 0px !important;
  height: auto!important;
}
.auth0-lock.auth0-lock .auth0-lock-widget-container {
  width: 100% !important;
}
.auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget {
  box-shadow: none !important;
}
.auth0-lock.auth0-lock .auth0-lock-header-bg {
  background: $black1 !important;
}
.auth0-lock.auth0-lock .auth0-lock-header {
  color: #fff !important;
  background: black !important;
}
.auth0-lock-header-bg-blur {
  display: none !important;
}
.auth0-lock.auth0-lock .auth0-lock-header-welcome {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.auth0-lock-widget {
  box-shadow: none;
  transition: none !important;
}
.auth0-lock-overlay {
  background: rgba(0,0,0,0.8) !important;
}

/* Animations */
@keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}

.fadeInx {
  opacity:0;
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
}
.fadeInLongx {
  animation-duration:1s;
}
.fadeInShortx {
  animation-duration:0.5s;
}
/* algolia search */
.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgba(69,142,225,.15) !important;
}
.algolia-autocomplete .ds-dropdown-menu {
  max-width: 650px !important;
  min-width: 650px !important;
}
@keyframes zoomIn {
  from { transform: scale(0);opacity:0; } to { transform: scale(1);opacity:1; }
}
.zoomIn {
  transform: scale(0);
  opacity:0;
  animation:zoomIn ease-out 1;
  animation-fill-mode: forwards;
}
.zoomInLong {
  animation-duration:0.7s;
}
.zoomInShort {
  animation-duration:0.3s;
}

@keyframes zoomIn {
  from { transform: scale(0);opacity:0; } to { transform: scale(1);opacity:1; }
}
.zoomIn {
  transform: scale(0);
  opacity:0;
  animation:zoomIn ease-out 1;
  animation-fill-mode: forwards;
}
.zoomInLong {
  animation-duration:0.7s;
}
.zoomInShort {
  animation-duration:0.3s;
}

/* code syntax highlighting */
.hljs{display:block;background:white;padding:0.5em;color:#333333;overflow-x:auto;border: 1px solid #ddd}.hljs-comment,.hljs-meta{color:#969896}.hljs-string,.hljs-variable,.hljs-template-variable,.hljs-strong,.hljs-emphasis,.hljs-quote{color:#df5000}.hljs-keyword,.hljs-selector-tag,.hljs-type{color:#a71d5d}.hljs-literal,.hljs-symbol,.hljs-bullet,.hljs-attribute{color:#0086b3}.hljs-section,.hljs-name{color:#63a35c}.hljs-tag{color:#333333}.hljs-title,.hljs-attr,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo{color:#795da3}.hljs-addition{color:#55a532;background-color:#eaffea}.hljs-deletion{color:#bd2c00;background-color:#ffecec}.hljs-link{text-decoration:underline}
pre code.hljs {
  white-space: pre;
  padding: 1.6rem;
  padding-left: 1.4rem;
  font-size: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -.02rem;
  position: relative;
}
.hljs:before {
  position: absolute;
  right:0;
  top:5px;
  padding: 0 0.5em;
  color: rgba(0, 0, 0, 0.32);
  font-size: 0.9em;
}
.hljs.language-yml:before {
  content: 'YAML';
}
.hljs.language-javascript:before {
  content: 'JavaScript';
}
