.content {
  padding: 50px;
  width: 750px;
  max-width: 750px;
  min-width: 750px;
}
@media (max-width: 950px) {
  .content {
    padding: 20px;
    width: 600px;
    max-width: 600px;
    min-width: 600px;
  }
}

@media (max-width: 830px) {
  .content {
    padding: 20px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-bottom: 120px;
  }
}
